<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar usuario</title>
</head>
<body style="background-color: black;">
    
    <!-- colocar aqui o tamplete do cabeçalho [navbar.ejs] -->
    <%- include('partials/navbar.ejs')%>

    <h3 class="text-center fw-bold text-white mt-5">EDITAR O NOME DO USUÁRIO</h3>

    <main class="mt-4">
        <div class="container w-75 ">
            <form class="d-flex flex-column" action="/" method="post">
                <input class="mb-2 mt-2 form-control" name="name" placeholder="Usuário" type="text">
                <button class="btn mb-5" style="background-color: rgba(46, 252, 5, 0.648);">Editar</button>
            </form>
        </div>
    </main>



    <!-- colocar aqui o tamplete do rodapé [footer.ejs] -->
    <%- include('partials/footer.ejs')%>
</body>
</html>