<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adicionar dados</title>
</head>
<body>
    

<h3>PAGINA PARA ADICIONAR DADOS AO BANCO DE DADOS</h3>

<form action="/" method="post">
    <input class="field" name="title" placeholder="Title">
    <input class="field" name="description" placeholder="Description"> 
    <input class="field" name="url" placeholder="URL">

    <button>salvar</button>
</form>


<!-- link para acessar todos os dados existentes -->
<a href="/all">LISTA DE DADOS</a>


</body>
</html>